# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

# weights and datasets
downloads/CLRS30/**
data/**
interp_checkpoints/**

# used for training
run.py
*.zip